.logo {
    max-height: 70vh;
}

#container {
    height: 100%;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.social-link {
    padding: 0 2em;
}

.social-link a img {
    width: 5em;
}

.grow {
    flex-grow: 1;
}